player-connection-mode=Listen
player-connection-guid=2246107542
player-connection-debug=1
player-connection-project-name=New Unity Project
player-connection-wait-timeout=-1
player-connection-ip=172.31.100.17
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=0
vr-enabled=0
hdr-display-enabled=0
